:root {
  --primery-bg-color: #121928;
}

.profile-section{
  /* width: 100%; */
  height: auto;
  background-color: var(--primery-bg-color);
}

.profile-header {
    width: 100%;
    background-image: url('../../assets/banner.png');
    padding: 20px 0;
    background-size: cover;
    padding: 120px 0px;
    background-color: #2e333a;
  }
  .profile-details {
    width: 100%;
    height: auto;
    background-color: var(--primery-bg-color);
    margin: 0;
    padding: 0px 5em;
    margin-top:-5em;
  }
  
  .profile-header-details{
    margin-top:-105px;
  }

  .profile-image {
    width: 150px;
    height: 150px;
    border: 5px solid #fff;

  }
  .profile-stats{
    width: 100%;
    height: 100%;
  }  

  .profile-stats span {
    display: inline-block;
    margin: 0 10px;
  }
  
 
  
  .skills-section {
    margin-top: 20px;
  }
  
  .skills-images img {
    width: 100%;
    height: auto;
    margin: 0 10px;
  }
  
  .portfolio-pictures {
    padding: 20px 0;
  }
  
  .portfolio-pictures img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .services_cards_profile{
    position: relative;
    width: auto;
    height: auto;
  }
  .services_cards_profile img{
    width: 100%;
    height: auto;
    margin:0px 30px;
    opacity: 0.5;
  }
  .services_cards_profile .services_info{
    display: flex;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  position: absolute;
  inset: 0; /* Cover the entire area of the parent container */
  margin: auto; /* Center within the parent container */
  text-align: center; /* Center text inside the element */
  width: 100%; /* Ensure the element takes full width of the parent */
  }

